---
import { ChevronUp } from "lucide-react";
const routes = [
    { name: "Inicio", href: "/#Inicio" },
    { name: "Quienes somos", href: "/#Quienes-Somos" },
    { name: "Servicios", href: "/#Servicios" },
    { name: "Misión y visión", href: "/#Mision-y-vision" },
    { name: "Contáctenos", href: "/#Contacto" },
];
---

<footer class="bg-zinc-50 dark:bg-gray-900">
    <div
        class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 lg:pt-24"
    >
        <div class="absolute end-4 top-4 sm:end-6 sm:top-6 lg:end-8 lg:top-8">
            <a
                class="inline-block rounded-full bg-[#f0ba56] p-2 text-white shadow-sm transition hover:bg-teal-500 sm:p-3 lg:p-4 dark:bg-gray-700 dark:text-teal-300 dark:hover:bg-gray-600"
                href="#"
            >
                <span class="sr-only">Back to top</span>

                <ChevronUp className="h-4 w-4 sm:h-5 sm:w-5 lg:h-6 lg:w-6" />
            </a>
        </div>

        <div class="lg:flex lg:items-end lg:justify-between">
            <div>
                <div
                    class="flex justify-center text-teal-600 lg:justify-start dark:text-teal-300"
                >
                    <img
                        src="/logo.jpg"
                        alt="Logo de Oakland Services"
                        class="h-32 invert-100"
                    />
                </div>

                <p
                    class="mx-auto mt-6 max-w-md text-center leading-relaxed text-zinc-600 lg:text-left dark:text-gray-400"
                >
                    Oakland Services es una empresa dedicada a la
                    comercialización y arriendo de andamios y herramientas
                    eléctricas. Nos preocupamos por la seguridad de nuestros
                    trabajadores y clientes, ofreciendo productos de alta
                    calidad y un servicio excepcional.
                </p>
            </div>

            <ul
                class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:mt-0 lg:justify-end lg:gap-12"
            >
                {
                    routes.map((route) => (
                        <li>
                            <a
                                class="text-gray-700 transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
                                href={route.href}
                            >
                                {route.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>

        <p
            class="mt-12 text-center text-sm text-gray-500 lg:text-right dark:text-gray-400"
        >
            Copyright &copy; 2025. All rights reserved.
        </p>
    </div>
</footer>
