---
import { Button } from "../ui/button";
---

<section id="Inicio" class="relative font-sans lg:h-screen bg-[#a1c2b1]">
    <div
        class="container flex h-full w-full items-center pt-20 pb-8 px-2 md:py-20 lg:py-0"
    >
        <div
            class="mx-auto grid h-full w-full max-w-[87.5rem] grid-cols-1 items-center gap-20 lg:grid-cols-2"
        >
            <div>
                <h1
                    class="mb-4 text-4xl leading-tight font-medium font-sans-abril text-foreground md:text-6xl"
                >
                    Seguridad en Trabajos en Altura en Chile | Oakland Services
                </h1>
                <p class="text-lg font-bold text-foreground pb-4 md:text-2xl">
                    ¿Sabías que el 30% de los accidentes laborales fatales en
                    Chile son causados por caídas desde altura?
                </p>
                <p class="text-lg text-foreground">
                    En Oakland Services, no solo te ofrecemos plataformas
                    provisionales para trabajo en altura y el arriendo de
                    herramientas eléctricas en La Serena, sino que también te
                    vendemos seguridad y productividad.
                </p>
                <p class="text-lg text-foreground hidden md:block">
                    Cada uno de nuestros productos y servicios está diseñado
                    para maximizar la eficiencia en tu obra mientras te
                    aseguramos un entorno de trabajo seguro.
                </p>
                <div class="mt-5 md:mt-10">
                    <Button asChild variant="default">
                        <a
                            href="#contacto"
                            class="block h-fit w-fit rounded-lg border-2 border-black bg-transparent px-4 py-2.5 text-lg leading-tight font-medium text-black transition duration-500 hover:scale-105 hover:bg-black hover:text-white md:px-8 md:py-5"
                        >
                            Contáctanos
                        </a>
                    </Button>
                </div>
            </div>
        </div>
    </div>
    <div
        class="top-0 right-0 bottom-0 left-auto m-5 ml-0 w-full px-2 pb-5 lg:absolute lg:max-w-[50%] lg:px-0 lg:pt-16"
    >
        <div
            class="grid h-full w-full grid-cols-1 grid-rows-[18.75rem_13.125rem_10rem] gap-5 md:grid-cols-[3fr_2fr] md:grid-rows-[80%_minmax(20%,9.375rem)]"
        >
            <div class="row-[1_/_2] overflow-hidden md:col-[1_/_3]">
                <div
                    class="h-full w-full overflow-hidden rounded-3xl bg-muted-2"
                >
                    <img
                        src="/image/hero/image.png"
                        alt=""
                        class="h-full w-full object-cover object-center"
                    />
                </div>
            </div>
            <div class="col-[1_/_2] row-[2_/_3]">
                <div
                    class="flex h-full flex-col gap-3 overflow-hidden rounded-3xl bg-muted p-5 px-5 md:flex-row md:items-center md:gap-7"
                >
                    <div
                        class="h-14 w-14 flex-shrink-0 overflow-hidden rounded-xl md:h-20 md:w-20"
                    >
                        <img
                            src="/image/hero/pexels-olly-3760373.jpg"
                            alt=""
                            class="h-full w-full object-cover object-center"
                        />
                    </div>
                    <div
                        class="flex h-full w-full flex-col justify-center items-center gap-2"
                    >
                        <p class="text-lg font-medium text-foreground">
                            Oakland Services es una empresa que se preocupa por
                            la seguridad de sus trabajadores y clientes.
                        </p>
                    </div>
                </div>
            </div><div class="row-[3_/_4] md:col-[2_/_3] md:row-[2_/_3]">
                <div
                    class="h-full w-full overflow-hidden rounded-3xl bg-muted-2"
                >
                    <img
                        src="/image/hero/Pagina Oakland servicie.png"
                        alt=""
                        class="h-full w-full object-cover object-center"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
