<section
    id="Mision-y-vision"
    class="py-32 bg-gradient-to-bl from-[#5f593a] via-[#cabd7b] to-[#9b915e]"
>
    <div
        class="container mx-auto flex flex-col items-start gap-8 px-2 lg:gap-12 lg:px-16"
    >
        <h3
            class="text-3xl font-semibold text-pretty md:text-4xl lg:max-w-3xl lg:text-5xl"
        >
            Nuestra misión
        </h3>
        <div
            class="grid w-full grid-cols-1 gap-4 max-md:grid-rows-[1fr_1fr] md:grid-cols-2 lg:gap-6"
        >
            <div
                class="group relative h-full min-h-[27rem] max-w-full overflow-hidden rounded-xl bg-red-100 md:aspect-[5/4] lg:aspect-[16/9]"
            >
                <img
                    src="/image/mision/andamios-casa.jpg"
                    alt="placeholder"
                    class="absolute h-full w-full object-cover object-center transition-transform duration-300 group-hover:scale-105"
                />
                <div
                    class="absolute inset-x-0 bottom-0 mt-auto max-h-[60%] min-h-[60%] bg-[linear-gradient(transparent,var(--primary)_80%)] mix-blend-multiply"
                >
                </div>
                <div
                    class="absolute inset-x-0 bottom-0 flex flex-col items-start p-6 text-primary-foreground md:p-8"
                >
                    <h4 class="mb-3 font-black text-4xl">Misión</h4>
                    <p class="text-xl font-semibold text-white">
                        Eliminar los accidentes graves o fatales en trabajo en
                        altura y por mal uso de herramientas manuales. Aumentar
                        la productividad de los trabajadores.
                    </p>
                </div>
            </div>

            <div
                class="group relative h-full min-h-[27rem] w-full overflow-hidden rounded-xl md:aspect-[5/4] lg:aspect-[16/9]"
            >
                <img
                    src="/image/mision/camioneta-con-logo.jpg"
                    alt="placeholder"
                    class="absolute h-full w-full object-cover object-center transition-transform duration-300 group-hover:scale-105"
                />
                <div
                    class="absolute inset-x-0 bottom-0 mt-auto max-h-[60%] min-h-[60%] bg-[linear-gradient(transparent,var(--primary)_80%)] mix-blend-multiply"
                >
                </div>
                <div
                    class="absolute inset-x-0 bottom-0 flex flex-col items-start p-6 text-primary-foreground md:p-8"
                >
                    <h4 class="mb-3 font-black text-4xl">Visión</h4>
                    <p class="text-xl font-semibold text-white">
                        Colaborar con nuestros clientes a ejecutar sus proyectos
                        con seguridad, productividad y calidad.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
