---
import { Notebook, ScanHeart, Wrench } from "lucide-react";
import { Button } from "../ui/button";
import { Separator } from "../ui/separator";
---

<section class="relative bg-[#2c2c34] py-32">
    <div
        class="absolute z-10 bottom-auto left-auto right-0 top-0 h-[500px] w-[500px] -translate-x-[30%] translate-y-[20%] rounded-full bg-[rgba(240,186,86,0.5)] opacity-50 blur-[80px]"
    >
    </div>
    <div
        class="absolute inset-0 z-0 h-full w-full bg-[linear-gradient(to_right,#222229_1px,transparent_1px),linear-gradient(to_bottom,#222229_1px,transparent_1px)] bg-[size:6rem_4rem]"
    >
    </div>
    <div class="container relative mx-auto z-20">
        <div
            class="flex flex-col-reverse items-center justify-between gap-10 lg:flex-row"
        >
            <div class="lg:max-w-md">
                <span
                    class="flex size-14 items-center justify-center rounded-full bg-accent"
                >
                    <Notebook className="size-6 text-primary" />
                </span>

                <h2
                    class="mt-8 mb-2 text-2xl font-bold text-pretty text-white lg:text-4xl"
                >
                    ¿Qué ofrecemos?
                </h2>
                <p class="mb-5 text-zinc-200">
                    En Oakland Services, garantizamos seguridad y productividad
                    en tus proyectos a un costo competitivo. Nos especializamos
                    en estandarizar trabajos de alto riesgo para minimizar
                    accidentes, incluyendo:
                </p>
                <Button> Contáctanos </Button>
                <Separator className="my-7" orientation="horizontal" />
                <ul class="space-y-4 text-white">
                    <li class="flex items-center gap-3">
                        <ScanHeart className="size-16" />
                        <p class="text-balance">
                            <span class="font-bold"> Trabajos en altura: </span>
                            Usamos plataformas provisorias como andamios multidireccionales
                            para asegurar la estabilidad y protección en cada proyecto.
                        </p>
                    </li>
                    <li class="flex items-center gap-3">
                        <Wrench className="size-16" />
                        <p class="text-balance">
                            <span class="font-bold">
                                Herramientas manuales especializadas:
                            </span>
                            Proporcionamos herramientas diseñadas para maximizar
                            la seguridad y la eficiencia en el trabajo.
                        </p>
                    </li>
                </ul>
            </div><img
                src="/image/offer/hombres-en-andamio.png"
                alt="placeholder"
                class="max-h-96 w-full rounded-md object-cover lg:max-h-none lg:w-1/2"
            />
        </div>
    </div>
</section>
