<section class="py-32">
    <div class="container mx-auto">
        <div
            class="flex flex-col-reverse items-center justify-between gap-10 lg:flex-row"
        >
            <div class="lg:max-w-md">
                <span
                    class="flex size-14 items-center justify-center rounded-full bg-accent"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-notebook-text size-6 text-primary"
                        ><path d="M2 6h4"></path><path d="M2 10h4"></path><path
                            d="M2 14h4"></path><path d="M2 18h4"></path><rect
                            width="16"
                            height="20"
                            x="4"
                            y="2"
                            rx="2"></rect><path d="M9.5 8h5"></path><path
                            d="M9.5 12H16"></path><path d="M9.5 16H14"
                        ></path></svg
                    ></span
                ><h1
                    class="mt-8 mb-2 text-2xl font-bold text-pretty lg:text-4xl"
                >
                    Build your perfect website in a minute
                </h1><p class="mb-5 text-muted-foreground">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Placeat quam autem quo nam, eligendi commodi, atque at animi
                    consectetur deserunt quis aperiam hic aliquam officia. Nam
                    modi quo ipsa vitae!
                </p><button
                    data-slot="button"
                    class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive bg-primary text-primary-foreground shadow-xs hover:bg-primary/90 h-9 px-4 py-2 has-[>svg]:px-3"
                    >Start for free</button
                ><div
                    data-orientation="horizontal"
                    role="none"
                    data-slot="separator-root"
                    class="bg-border shrink-0 data-[orientation=horizontal]:h-px data-[orientation=horizontal]:w-full data-[orientation=vertical]:h-full data-[orientation=vertical]:w-px my-7"
                >
                </div><ul class="space-y-4">
                    <li class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-notebook-text size-5"
                            ><path d="M2 6h4"></path><path d="M2 10h4"
                            ></path><path d="M2 14h4"></path><path d="M2 18h4"
                            ></path><rect
                                width="16"
                                height="20"
                                x="4"
                                y="2"
                                rx="2"></rect><path d="M9.5 8h5"></path><path
                                d="M9.5 12H16"></path><path d="M9.5 16H14"
                            ></path></svg
                        ><p class="font-bold">Lorem ipsum dolor sit.</p>
                    </li><li class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-globe size-5"
                            ><circle cx="12" cy="12" r="10"></circle><path
                                d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"
                            ></path><path d="M2 12h20"></path></svg
                        ><p class="font-bold">Lorem ipsum dolor sit amet.</p>
                    </li><li class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-hash size-5"
                            ><line x1="4" x2="20" y1="9" y2="9"></line><line
                                x1="4"
                                x2="20"
                                y1="15"
                                y2="15"></line><line
                                x1="10"
                                x2="8"
                                y1="3"
                                y2="21"></line><line
                                x1="16"
                                x2="14"
                                y1="3"
                                y2="21"></line></svg
                        ><p class="font-bold">Lorem ipsum dolor sit.</p>
                    </li>
                </ul>
            </div><img
                src="/images/block/placeholder-1.svg"
                alt="placeholder"
                class="max-h-96 w-full rounded-md object-cover lg:max-h-none lg:w-1/2"
            />
        </div>
    </div>
</section>
