---
import { ChevronRight, Headset, Truck } from "lucide-react";
import { Badge } from "../ui/badge";
import { Button } from "../ui/button";
import { Card, CardContent, CardFooter, CardHeader } from "../ui/card";
---

<section id="Quienes-Somos" class="py-32 bg-[#f0ba56]">
    <div class="container mx-auto px-2">
        <div class="flex flex-col items-center gap-6">
            <h2 class="mb-2 text-center text-3xl font-semibold lg:text-5xl">
                ¿Por qué Oakland Services es tu mejor opción?
            </h2>
            <p
                class="text-zinc-800 max-w-4xl text-center text-balance lg:text-lg"
            >
                Oakland Services es una empresa que se preocupa por la seguridad
                de sus trabajadores y clientes. Nos especializamos en
                estandarizar trabajos de alto riesgo para minimizar accidentes,
                incluyendo:
            </p>
            <div class="mt-6 flex flex-col gap-6 lg:flex-row">
                <Card className="flex flex-col justify-between gap-5 lg:w-1/3">
                    <CardHeader
                        className="flex flex-col gap-1.5 px-6 items-start"
                    >
                        <Badge variant="outline">
                            Cotizaciones y solicitudes en línea
                        </Badge>
                    </CardHeader>
                    <CardContent className="px-6 text-lg lg:text-2xl">
                        Te ofrecemos la comodidad de gestionar tus cotizaciones
                        y solicitudes de forma rápida y sencilla a través de
                        nuestra plataforma en línea.
                    </CardContent>
                    <CardFooter className="flex items-center px-6">
                        <Button variant="outline">
                            Contáctanos
                            <Headset className="ml-2 h-4 w-4" />
                        </Button>
                    </CardFooter>
                </Card>
                <div class="lg:w-1/3">
                    <img
                        src="/image/whyus/hombres-trabajando.png"
                        alt="Hombres trabajando"
                        class="h-full max-h-96 w-full rounded-md object-cover"
                    />
                </div>
                <Card className="flex flex-col justify-between gap-5 lg:w-1/3">
                    <CardHeader
                        className="flex flex-col gap-1.5 px-6 items-start"
                    >
                        <Badge variant="outline">
                            Delivery de plataformas estandarizadas
                            <span
                                class="hidden sm:inline-block lg:hidden 2xl:inline-block"
                            >
                                y herramientas especializadas
                            </span>
                        </Badge>
                    </CardHeader>
                    <CardContent className="px-6 text-lg lg:text-2xl">
                        En Oakland Services, te entregamos los andamios y
                        herramientas directamente en el lugar que necesites y en
                        el momento justo.
                    </CardContent>
                    <CardFooter className="flex items-center px-6">
                        <Button variant="outline">
                            Contáctanos
                            <Truck className="ml-2 h-4 w-4" />
                        </Button>
                    </CardFooter>
                </Card>
            </div>
        </div>
    </div>
</section>
